.formDiv {
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(90deg, white, black);
}

form {
    padding: 15px;
}

form.input[type="text"] {
    text-align: center;
}

input[type="submit"] {
    border-radius: 5px;
}