.border {
    border: solid 2px black;
    border-radius: 5px;
}

.top-padding-5 {
    padding-top: 5px;
}

.header {
    color: white;
}

@keyframes formDivTransition {
    from {display: none;}
    to {display: block;}
}

.formDiv {
    text-align: center;
    animation-name: formDivTransition;
    animation-duration: 2s;
    animation-iteration-count: none;
    animation-timing-function: ease-in;
}