

header {
  height: 75px;
  text-align: center;
  color: #ffebcd;
  text-shadow: 1px 1px 1px white;
}
footer{
  text-align: center;
  position: fixed;
  bottom: 5px;
  margin-left: 45%;
}

.pageContent{
  display: flex;
  width: 100%;
  color: #ffebcd !important;
}
.menuWithPageContainer{
  display: flex;
  align-content: stretch;
}
