

header {
  margin-left: -15px;;
  margin-right: -15px;
  height: 75px;
  text-align: center;
  color: #ffebcd;
  text-shadow: 1px 1px 1px white;
}
<<<<<<< HEAD:src/Styles/App.css


.router{
  display: flex;
  flex-wrap: wrap;
}
=======
footer{
  text-align: center;
}

.pageContent{
  display: flex;
  width: 100%;
}
.menuWithPageContainer{
  display: flex;
  align-content: stretch;
}
>>>>>>> eba02eb9358b2a56431dd0183bc17ac5ccde1f97:src/App.css
