
.gdprContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 131, 131);
    margin-left: 50px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
-moz-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
}
.preferencesPage{
    color: #ffe9c7;
    width: 90%;
}
.preferencesPage h3{
    margin-left: 50px;
    color: #ffebcd;
}
ul {
    flex-direction: row;
    column-count: 2;
    width: 600px;
    
}