
.gdprContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 131, 131);
    margin-left: 50px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
-moz-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
}
.preferencesPage {
    color: #ffe9c7;
    width: 90%;
}
.preferencesPage h3{
    margin-left: 50px;
    color: #ffebcd;
}
.links ul{
    display: flex;
    flex-direction: column;
}

.links ul li {
    padding-top: 5px;
}

.deleteForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#deleteFormBtn {
    color: #ffebcd;
}

.deleteForm input {
    background-color: #b8b8b8;
    padding: 8px 14px;
  margin: 3px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(116, 0, 0);
  color: #5a5a5a;
  font-weight: 400;
  width: 100%;
  display: flex;
  border-right: 1px solid rgb(116, 0, 0);

}

.deleteForm input[type=submit] {
    justify-content: center;
    font-weight: 900;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}


.deleteForm input:focus {
    background-color: #6e4848;
    outline: none;
    color: beige;
}