.toast-header {
    Background-color: rgba(255, 255, 255, 0.1) !important;
}

#headerRow {
    padding-bottom: 15px;
}

#profileImg {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.pieChart {
    width: 100%;
    height: 100%;
}