.toast-header {
    Background-color: rgba(255, 255, 255, 0.1) !important;
}

#headerRow {
    padding-bottom: 15px;
}

a {
    color: #ffe9c7 !important;
}

#profileImg {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.pieChart {
    width: 400px;
    height: 400px;
}

.float-left {
    float: left;
}

#MyInfoContainer, #portfolioOverviewSection{
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 131, 131);
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
    -moz-box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
    box-shadow: 0px 0px 33px 18px rgba(115,114,115,1);
}