.App {
  text-align: center;
}

header {
  background: linear-gradient(180deg, rgba(0,0,255, 0.7), rgba(0,0,0,0.1));
  margin-left: -15px;;
  margin-right: -15px;
  height: 75px;
  text-align: center;
  color:rgba(253, 190, 63, 0.9);
  text-shadow: 1px 1px 1px white;
}